#title {
  font-size: 30px;
  text-align: center;

}

section {
  background-color: lightcyan;
  margin: auto 350px;
  padding: 50px;
  border-radius: 0.3em;
}

body {
  background-color: cyan;
}

#description {
  font-size: 20px;
}

#survey-form {

  font-size: 20px;
 
}

input {
  border-radius: 0.3em;
  border: 1px solid #333;
  font-family: inherit;
  font-size: 90%; 
  box-sizing: border-box;
   
}



footer {
 
   padding: 20px;
   width: 100%;
   font-size: 20px;
   text-align: center;
}

textarea {

  border: 1px solid #333;
  font-family: inherit;
  font-size: 90%; 
  box-sizing: border-box;
  width: 100%;
}

#name-label,
#email-label,
#number-label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

#submit {
  margin: 15px;
  font-size: 90%; 
  position: absolute;
  border: 1px solid #333;
  border-radius: 0.3em;
  
}






